.planets-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
  min-height: 100vh;
}

.planets {
  font-family: 'Roboto';
  font-size: 25px;
  color: #05acff;
}

.planets-items-container{
  width: 80%;
}